article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.wrapper {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 25px;	
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.title{
  font-size: 3rem;
  margin-bottom: 40px;
  margin-top: 0;
}

/*PAGE LAYOUT__________________________________________________________________*/
section {
	max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.column {
	margin: 20px;
	flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 300px;
}

.column:first-of-type {
	flex-grow: 2;
	flex-shrink: 2;
	flex-basis: 0px;
}

.top{
	padding-top: 80px;
}

img{
	max-width: 700px;
}

/*STYLING_______________________________________________________________*/
body{
  font-size: 1.6rem;
}

h1 {
	color: black;
	font-family: 'PT Sans Narrow';
	text-align: center;
	font-size: 3rem;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: 5px;
	margin-top:30px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

h2{
	font-size: 2rem;
	font-family: 'PT Sans Narrow';
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

h4{
	font-size: 1.5rem;
	font-family: serif;
	font-style: italic;
	margin-top: 7px;
}

p{
	color: #516163;
	font-family: 'PT Sans';
	font-size: 1.5rem;
}


/*NAVIGATION and LOGO_____________________________________________________________*/

.navbar-fixed {
	top: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
}

#nav_bar {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*LOGO_________________________________________________________________*/
header img{
	position: absolute;
	top: 0;
	right: 60px;
	z-index: 6000;
	height: 100px;
}

/*header_______________________________________________________________*/
header {
	border:1px solid #ccc;
	border-width:1px 0;
	width: 100%;
	z-index: 10;
}

.flex-parent {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#nav-bar {
	background-color: white;
}

ul.main-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	text-align: center;
}

/*SHOWS ICON WHEN in Media query________________________________________*/
ul.main-nav.showNav {
	display: flex;
	justify-content: flex-start;
	z-index: 300;
}

ul.main-nav li {
	margin-right: 2rem;
}

ul.main-nav a {
	height: 100%;
	color: black;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
}

ul.main-nav a:hover {
	color: dimgrey;
}

.fa {
	display: none;
	cursor: pointer;
}

/*Close 'x'____________________________________________________*/
.menu-icon{
	position: relative;
	display: flex;
	justify-content: flex-start;
	z-index: 200;
}

.fa-close{
	color: black;
	z-index: 5001;
	position: fixed;
	top:0;
	left:0;
}

.about img{
  max-width: 350px;
	margin-top: 0;
	padding-top: 0;
	vertical-align: center;
	margin-left: 50px;
}

/*contact__________________________________________________________________*/

.style-4 input[type="text"] {
	padding: 10px;
  border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}

.style-4 input[type="email"] {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}

.style-4 textarea[type="special_instructions"] {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}

.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
	border-bottom: solid 2px #969696;
}

.form-space{
	margin-bottom: 10px;
}

/* Media queries____________________________________________________ */
@media (max-width: 940px) {

.wrapper{
	max-width: 940px;
}

.for-mobile{
	display: flex;
	flex-direction: column;
}

.first{
	order: -1;
}

.second{
	order: 1;
}

.column{
	flex-basis: 0;
}

/*.first{
	display: flex;
	flex-direction: column;
	flex-basis: auto;
	flex-grow: 1;
	order: -1;
	margin-bottom: 10%;
	justify-content: center;
	text-align: center;
*/
}

/*.second{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
		flex-basis: auto;
	order: 1;
	margin-bottom: 20%
}*/

img{
	max-width: 90%;
}

ul.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 60%;
	width: 100%;
	background: rgba(220,220,220,0.9);
	display: none;
	flex-flow: column wrap;
	text-align: center;
	justify-content: flex-start;
	z-index: 5000;
}

ul.main-nav li {
	padding: 15px 0;
	font-size: 1.2rem;
  border-bottom: 1px solid black;
}

ul.main-nav a {
	color: black;
	text-decoration: none;
}

ul.main-nav a:hover {
	color: white;
}

.fa {
	display: inline-block;
	color: black;
	display: flex;
	justify-content: flex-start;
}

.fa:hover{
	color: white;
}

.my-form {
	padding:3px;
	width:90%;
	font-size:1rem;
}

}

@media (max-width: 767px) {

	.wrapper{
		max-width: 767px}
	}
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}

	.logo{
		height: 50px;
	}
	.quote p{
		font-size: 2rem;
		padding-bottom: 0;
	}

	.quote h1{
		font-size: 3rem;
		padding-top: 25%;
	}
}
